
$black: #222;
$greyDark: #444;
$greyMiddle: #666;
$greyBright: #ccc;
$white: #fafafa;
$brown: #b35e35ff;
$cream: #f7eed0ff;
$blue: #1355e2;
$darkBlue: #1650bd;

html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: $black url("../public/bg.png");
    background-attachment: fixed;
    font-size: 18px;
}
p {
    line-height: 1.65em;
}
#language-switcher {
    position: absolute;
    right: 0;
    top: 0;
    padding: .5em 2em;

    a {
        text-transform: lowercase;
        margin-left: 6px;
        &:first-child {
            margin-left: 0;
        }
    }
}
#page-container {
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
    background: $white;
    padding: 1em 0;
    box-shadow: $black 0 0 32px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    margin-bottom: .5em;
    color: $greyMiddle;
    text-transform: uppercase;
}

h2 {
    color: $black;
    font-size: 1.5em;
}
h4 {
    border-bottom: $greyBright 2px solid;
    font-size: 1.1em;
}
h5 {
    color: $greyDark;
    font-size: 0.9em;
}
#content {
    margin: 2em auto;
    line-height: 1.5em;
    color: $greyDark;
    max-width: 600px;
    min-height: 800px;
}

.projects, .skills, .clear {
    clear: both;
}
.thumbnail {
    width: 50%;
    float: left;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1em;

    img {
        max-width: 290px;
        max-height: 180px;
        width: auto;
        height: auto;
    }

    span {
        line-height: 2em;
    }
}
a.thumbnail {
    &:hover, &:active {
        border-bottom: 0 !important;
        text-decoration: underline;
    }
    &:hover img {
        transform: scale(1.1);
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);
    }
}
.thumbnail {
    img {
        transition: all 0.5s ease;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }
}

.info {
    margin-bottom: 2em;
    border-left: 6px $greyBright solid;
    padding-left: 1em;
    font-size: .9em;
    p {
        text-align: justify;
    }
}

.nav a {
    text-transform: uppercase;
}

footer {
    width: 100%;
    position: absolute;
    height: 100px;
    overflow: hidden;
    margin-top: -16px;
}

.inner-footer {
    position: fixed;
    color: $greyBright;
    height: 100px;
    width: 100%;
    clear: both;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;

    div {
        padding: .5em;
        margin: 0 auto;
        max-width: 600px;
    }
}

.navigation {
    position: fixed;
    background: $white;
    left: 0;
    top: 0;
    padding: 40px;
    width: 140px;
}

.face {
    margin: .5em 0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    transition: transform .5s ease;
    max-width: 100%;
    border-radius: 5px;
    &:hover {
        transform: rotate(-5deg);
    }
}

.nav-links, .footer-links {
    padding: 0;
    list-style-type: none;

    li {
        line-height: 2em;
        font-size: 1.4em;
    }
}

.nav-links {
    text-transform: uppercase;
}

a:link, a:visited {
    color: $darkBlue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: $blue;
    border-bottom: $blue 2px solid;
}

a:active {
    color: $black;
}
a.current {
    color: $black !important;
    border-bottom: $black 2px solid;
}

.footer-links {
    float: right;

    small {
        font-size: .8em;
    }

    li {
        float: left;
        font-size: .9em;
        margin-left: 1em;
        line-height: 70px;
    }

    a:link, a:visited {
        color: $greyBright;
    }

    a:hover {
        color: $white;
        text-decoration: underline;
        border-bottom: 0 !important;
    }

    a:active {
        color: $white;
    }
}
footer {
    p {
        margin: 0;
        line-height: 100px;
        float: left;
    }
}

.skills ul {
    padding: 0;
    margin: 0;
    padding-left: 2em;
}

.featured-content {
    li {
        margin-bottom: .5em;

        li {
            margin-bottom: 0em;
        }
    }
}

section {
    &.featured-content {
        clear: both;
    }

    &.cv p {
        margin-top: 0;
        text-align: justify;
    }
}

.personal-info {
    dt {
        color: $greyMiddle;
        font-weight: bold;
        width: 30%;
        float: left;
        clear: left;
    }

    dd {
        margin: 0;
        padding: 0;
        padding-left: 1em;
    }

    margin-bottom: 1em;
}

.desktop-only {
    display: block;
}
.mobile-only {
    display: none;
}

@media all and (max-width: 1040px) {
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    .navigation {
        position: static;
        width: 100%;
        margin-top: 40px;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        h1 {
            width: 100%;
        }
        
        .face {
            margin: 0 auto;
            margin-bottom: 1em !important;
            max-width: 250px;
            width: 50%;
            order: 0;
        }
        
        .info {
            width: 50%;
            font-size: .9em;
            border-left: 0;
            margin: 0;
            order: 1;
        }

        .nav-links {
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-bottom: $greyBright 2px solid;
            border-top: $greyBright 2px solid;
            flex-wrap: wrap;
            order: 2;
        }
        .nav-links li {
            display: inline-block;
            padding: 0 .3em 0 0;
        }
    }
}


@media all and (max-width: 680px) {
    body {
        font-size: 16px;
    }
    .navigation {
        .face {
            height: unset;
        }
        .info {
            margin: 0 auto;
        }
        .nav-links li a {
            font-size: .9em;
        }
    }
    #content {
        padding: 0 20px;
    }
    .thumbnail {
        width: 100%;
    }
    .thumbnail img {
        height: auto;
    }
    
    section h2 {
        display: none;
    }
}

@media all and (max-width: 400px) {
    .navigation {
        .nav-links {
            justify-content: center;
        }
        .info {
            width: 100%;
            padding: 0;
        }
        .face {
            width: 100%;
            height: unset;
            max-width: unset;
        }
    }
    
}